@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section>
      <div class="container flex justify-between my-5">
        <div><img src="~/imgs/paperz.svg" alt="" /></div>
        <div><img src="~/imgs//dorfus.svg" alt="" /></div>
        <div><img src="~/imgs/martino.svg" alt="" /></div>
        <div><img src="~/imgs/square.svg" alt="" /></div>
        <div><img src="~/imgs/gobona.svg" alt="" /></div>
      </div>
</section>