@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Features -->
    <section>
      <div class="container md:flex border px-10 py-8">
        <div class="w-full md:w-1/2 pr-10">
          <h1 class="text-warning mb-2">Features</h1>
          <h2 class="text-4xl font-bold mb-6">
            Our Accounting is trusted by thousands of companies
          </h2>
          <div>
            <a class="text-center bg-primary rounded-full py-2 px-6 hover:bg-primary-light transition block" href="">Get Consulting<i class="ml-2 fa-light fa-arrow-up-right"></i></a>
          </div>
        </div>
        <div class="mt-8 md:mt-0 md:w-1/2 md:pl-10">
          <div class="grid grid-cols-2 gap-4">
            <div>
              <i class="text-4xl fa-light fa-handshake"></i>
              <h3 class="font-bold">Business Advice</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
              <i class="text-4xl fa-light fa-lightbulb-exclamation-on"></i>
              <h3 class="font-bold">Startup Business</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
              <i class="text-4xl fa-sharp fa-light fa-chart-mixed-up-circle-dollar"></i>
              <h3 class="font-bold">Financial Advice</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div>
              <i class="text-4xl fa-sharp fa-light fa-helmet-safety"></i>
              <h3 class="font-bold">Risk Management</h3>
              <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>
      </div>
    </section>