@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

      <!-- Project and Cases  -->
    <section>
      <div class="container py-10">
        <h1 class="mb-3 text-center text-warning">Project & Case Studies</h1>
        <h2 class="mb-16 text-center font-bold text-4xl">A Look At Our Global Projects</h2>
        <div class="mb-16 grid grid-cols-2 gap-x-5 gap-y-10">
          <div>
            <img src="~/imgs/grow_your_business.jpg" alt="" class="mb-5">
            <h3 class="pb-5 mb-5 border-b text-lg font-bold">Grow your business</h3>
            <div class="flex justify-end">
              <a href="#">Read More <i class="ml-2 fa-light fa-arrow-up-right"></i></a>
            </div>            
          </div>
          <div>
                <img src="~/imgs/grow_your_business.jpg" alt="" class="mb-5">
            <h3 class="pb-5 mb-5 border-b text-lg font-bold">Grow your business</h3>
            <div class="flex justify-end">
              <a href="#">Read More <i class="ml-2 fa-light fa-arrow-up-right"></i></a>
            </div>            
          </div>
          <div>
                <img src="~/imgs/grow_your_business.jpg" alt="" class="mb-5">
            <h3 class="pb-5 mb-5 border-b text-lg font-bold">Grow your business</h3>
            <div class="flex justify-end">
              <a href="#">Read More <i class="ml-2 fa-light fa-arrow-up-right"></i></a>
            </div>            
          </div>
          <div>
                <img src="~/imgs/grow_your_business.jpg" alt="" class="mb-5">
            <h3 class="pb-5 mb-5 border-b text-lg font-bold">Grow your business</h3>
            <div class="flex justify-end">
              <a href="#">Read More <i class="ml-2 fa-light fa-arrow-up-right"></i></a>
            </div>            
          </div>
        </div>
        <div class="flex justify-center">
          <a class="text-gray-200 bg-black rounded-full py-2 px-6 mr-3 hover:bg-gray-800 transition" href="">
            All Recent Projects
            <i class="ml-2 fa-light fa-arrow-up-right"></i>
          </a>
        </div>       
      </div>
    </section>