@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Our Service -->
    <section class="bg-secondary text-black">
      <div class="container py-8">
        <h1 class="text-warning mb-2">Our Service</h1>
          <h2 class="text-4xl font-bold mb-6 w-1/2">
            We Provide The Best Service For Consulting
          </h2>
          <div class="grid grid-cols-4 gap-4">
            <div class="bg-white group hover:bg-primary transition">
              <a href="#" class="p-6 flex flex-col justify-between">
                <div class="w-7 border border-black mt-5 mb-6"></div>
                <h3 class="font-bold text-lg mb-2">Business Advice</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex deleniti eligendi soluta.</p>
                <div class="mb-3">
                  <div class="h-10 w-10 bg-black text-white rounded-full ml-auto text-center pt-2 group-hover:bg-white group-hover:text-black transition"><i class="fa-light fa-arrow-right"></i></div>
                </div>
              </a>
            </div>
            <div class="bg-white group hover:bg-primary transition">
              <a href="#" class="block p-6">
                <div class="w-7 border border-black mt-5 mb-6"></div>
                <h3 class="font-bold text-lg mb-2">Startup Business</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex deleniti eligendi soluta.</p>
                <div class="mb-3">
                  <div class="h-10 w-10 bg-black text-white rounded-full ml-auto text-center pt-2 group-hover:bg-white group-hover:text-black transition"><i class="fa-light fa-arrow-right"></i></div>
                </div>
              </a>
            </div>
            <div class="bg-white group hover:bg-primary transition">
              <a href="#" class="p-6 flex flex-col justify-between">
                <div class="w-7 border border-black mt-5 mb-6"></div>
                <h3 class="font-bold text-lg mb-2">Financial Aid</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex deleniti eligendi soluta.</p>
                <div class="mb-3">
                  <div class="h-10 w-10 bg-black text-white rounded-full ml-auto text-center pt-2 group-hover:bg-white group-hover:text-black transition"><i class="fa-light fa-arrow-right"></i></div>
                </div>
              </a>
            </div>
            <div class="bg-white group hover:bg-primary transition">
              <a href="#" class="block p-6">
                <div class="w-7 border border-black mt-5 mb-6"></div>
                <h3 class="font-bold text-lg mb-2">Risk Management</h3>
                <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex deleniti eligendi soluta.</p>
                <div class="mb-3">
                  <div class="h-10 w-10 bg-black text-white rounded-full ml-auto text-center pt-2 group-hover:bg-white group-hover:text-black transition"><i class="fa-light fa-arrow-right"></i></div>
                </div>
              </a>
            </div>
          </div>
      </div>
    </section>