@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.Page>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "_Layout.cshtml";
	ViewData["Title"] = @Model.Value("title");
}

@await Html.PartialAsync("_SectionHeader")

    <!-- News -->
    <section class="py-10">
      <div class="container">
        <div class="flex justify-between items-center">
          <h2 class="mb-10 text-4xl font-bold">Our News & Articles</h2>          
        </div>
        <div class="grid grid-cols-3 gap-6">
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>       
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>     
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>  
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>       
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>     
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>       
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>       
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>     
          <div>
            <div class="relative mb-5">
                    <img src="~/imgs/Digitalization-Classroom.jpg" alt="">
              <div class="bg-primary text-center absolute top-0 left-0 m-5 px-2">
                <div class="font-bold text-lg">25</div>
                <div class="text-sm">Mar</div>
              </div>
            </div>
            <h4 class="text-gray-700 mb-3">Business</h4>
            <h3 class="text-lg font-bold mb-2">How To Use Digitalization In The Classroom</h3>
            <p class="text-gray-700">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nisi dolor assumenda!</p>
          </div>            
        </div>
      </div>
    </section>

@await Html.PartialAsync("_Subscribe")